<div id="main-menu" class="main-menu collapse navbar-collapse">
  <ul class="nav navbar-nav" style="margin-top: 0;">
    <li class="active">
      {{#link-to 'backend'}}<i class="menu-icon fa fa-dashboard"></i> Dashboard {{/link-to}}
    </li>
    <li>
      {{#link-to 'backend.rentals'}}<i class="menu-icon fa fa-home"></i> Rentals{{/link-to}}
    </li>
    <li>
      {{#link-to 'backend.locations'}}<i class="menu-icon fa fa-map-pin"></i> Locations{{/link-to}}
    </li>
    <li>
      {{#link-to 'backend.landlords'}}<i class="menu-icon fa fa-users"></i> Landlords{{/link-to}}
    </li>
  </ul>
</div>