{{#if (eq condition 'new')}}
  <p class="card-text text-danger"><span class="octicon octicon-alert"></span></p>
{{/if}}
<p class="card-text text-danger"><span class="octicon octicon-alert"></span> {{condition}}</p>
