<div class="container" style="padding-left: 0px;">
  <div class="steps wrapper">
    <div class="arrow-steps clearfix">
      {{#if (eq page 1)}}
        <div class="step current"> <span> Step 1</span> </div>
      {{else}}
        <div class="step"> <span> Step 1</span> </div>
      {{/if}}
      {{#if (eq page 2)}}
        <div class="step current"> <span> Step 2</span> </div>
      {{else}}
        <div class="step"> <span> Step 2</span> </div>
      {{/if}}

      {{#if (eq page 3)}}
        <div class="step current"> <span> Step 3</span> </div>
      {{else}}
        <div class="step"> <span> Step 3</span> </div>
      {{/if}}

    </div>
  </div>
</div>