<div class="card rental-card" style="width: 18rem; margin-right: 15px;">
  <img class="card-img-top" src="/house.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{rental.buildingName}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>