.add-rental-navigation {
  margin-top: 20px;
}
.inline-inputs{
  margin-bottom: 5px;
}
.tiles-radio {
  margin-left: 15px;
}
.radio-labels label {
  margin-bottom: 0;
}
.ember-radio-button input {
  margin-right: 10px;
}
.ember-radio-button span {
  margin-right: 10px;
}
