.rental-filters {
  margin: 15px 15px;

}
.rentals-listings .rental-card {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  flex: 1 0 0%;
}
