// App styles
@import "add-rental";
@import "navigation-step";
@import "rental-listing";
@import "components/loading";
@import "search-dropdown";

// Addons
@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';



.main-navigation {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.main-navbar {
  margin-bottom: 0;
  padding:0;
  min-height: inherit;
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: yellow;}
