// App styles
@import "add-rental";
@import "navigation-step";
@import "rental-listing";
@import "components/loading";
@import "search-dropdown";

// Addons
@import 'ember-power-select/themes/bootstrap';
@import 'ember-power-select';

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.carousel-caption {
  background-color: #0000ff33;
  color: black;
  border-radius: 3px;
}
.main-navigation {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.building-name {
  margin: 10px 0 15px 5px;
  border-bottom: 1px solid #e9ecef;
}
#houseSlides {
  border: 1px solid grey;
  border-radius: 3px;
}
#houseSlides .carousel-caption p, #houseSlides .carousel-caption h5{
  color: black;
}
#houseSlides .carousel-indicators .active {
  background-color: #0000ff33;
}
#houseSlides img{
  width: 100% !important;
  height: 500px !important;
  border-radius: 3px;
}
.rental-details {
  border-top: 1px solid #e9ecef;
}
.main-navbar {
  margin-bottom: 0;
  padding:0;
  min-height: inherit;
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: yellow;}
