{{breadcrumb-location location='Dashboard'}}
<div class="content mt-3">
  <div class="col-sm-12">
    <div class="alert  alert-success alert-dismissible fade show" role="alert">
      <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-four">
            <div class="stat-icon dib">
              <i class="ti-home text-muted"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">
                  {{#link-to 'backend.rentals'}}RENTALS{{/link-to}}
                </div>
                <div class="stat-text">Total: {{rentalsTotal}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-four">
            <div class="stat-icon dib">
              <i class="ti-face-smile text-muted"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">
                  {{#link-to 'backend.rentals'}}TENANTS{{/link-to}}
                </div>
                <div class="stat-text">Total: 500</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-four">
            <div class="stat-icon dib">
              <i class="ti-map-alt text-muted"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">
                  {{#link-to 'backend.locations'}}LOCATIONS{{/link-to}}
                </div>
                <div class="stat-text">Total: {{locationsTotal}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="stat-widget-four">
            <div class="stat-icon dib">
              <i class="ti-user text-muted"></i>
            </div>
            <div class="stat-content">
              <div class="text-left dib">
                <div class="stat-heading">
                  {{#link-to 'backend.landlords'}}LANDLORDS{{/link-to}}
                </div>
                <div class="stat-text">Total: {{landlordsTotal}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>