<div class="row">
  <!-- Left Panel -->
  <aside id="left-panel" class="col-2 left-panel aside">
    <nav class="navbar navbar-expand-sm navbar-default">

      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href=".">ADMIN DASHBOARD</a>
        <a class="navbar-brand hidden" href="./">ADMIN DASHBOARD</a>
      </div>
      {{backend-sidebar}}
    </nav>
  </aside>
  <!-- Left Panel -->

  <!-- Right Panel -->

  <div id="right-panel" class="col-10 right-panel">
    <div class="row">
      <div class="col-12">
        <!-- Header-->
        <header id="header" class="header">
          <div class="header-menu">
            <div class="col-sm-7"></div>
            <div class="col-sm-5">
              <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="user-avatar rounded-circle" src="/images/admin.jpg" alt="User Avatar">
                </a>
                <div class="user-menu dropdown-menu">
                  <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                  <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                  <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                  <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- Header-->
        {{outlet}}
      </div>
    </div>
  </div>
  <!-- Right Panel -->

</div>